.App {
  background: #0a0a0a;
  color: #ddd;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'tools tools'
    'canvas canvas';
}

.App > .Toolbar {
  grid-area: tools;
}

.App > .layer-list {
  grid-area: layers;
}

.App > .Canvas {
  grid-area: canvas;
}
